[Unit]
Description=Schedule_Bot/Schedule_Bot_Loader

[Service]
ExecStart=/home/nc_admin/Schedule_Bot/Schedule_Bot_Loader.sh
Restart=always

[Install]
WantedBy=multi-user.target
